<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org">
  <head>
    <title>Java Spring MVC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{bower_components/bootstrap-css/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/main.css}" />
    <script th:src="@{bower_components/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{js/active_link.js}"></script>
  </head>
  <body>
    <div id="wrapper">

      <header id="header">

        <nav>
          <a th:href="@{/}">Home</a>
          <span> | </span>
          <a th:href="@{/about}">About</a>
        </nav>

      </header>

      <main id="main" layout:fragment="content">
      </main>

      <footer id="footer">
        <span>&copy; Java Spring MVC</span>
        <span id="react"></span>
      </footer>

      <script th:src="@{js/bundle.js}"></script>

    </div>
  </body>
</html>