<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="../layouts/default">
  <body>
    <main layout:fragment="content">

      <h1 th:text="${title}"></h1>
      <h3 th:text="${message} +', '+ ${user.getUserName()} +'?'"></h3>

      <form id="form" class="form-inline">
        <input id="user-name" class="form-control" type="text" placeholder="Name" />
        <button type="submit" class="btn btn-success">Post Some Data</button>
      </form>

      <a th:href="@{/api/user}">See Users</a>

      <script th:src="@{js/http.js}"></script>

    </main>
  </body>
</html>
